/* App.css */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  box-sizing: border-box;
}

p {
  font-weight: 200;
}

.navbar {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: #333;
  font-size: 0.8rem;
  line-height: 1.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}


.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo-image {
  width: 40px;
  height: 40px; 
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.brand-name {
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  gap: 50px;
}


.nav-links li {
  margin-right: 1rem;
  cursor:pointer;
}

.nav-links li:first-child {
  margin-left: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.header-container {
  display: flex;
}

.menu-container {
  display: none;
}

.hamburger-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-icon .line {
  width: 25px;
  height: 3px;
  background-color: #000; /* Change to black */
  margin-bottom: 4px;
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .hamburger-icon {
    display: flex;
  }

  .menu-container.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 1rem;
    color:#333; 
  }


  .sm-nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 50px;
    margin-left: auto;
  }
  
  .sm-nav-links li {
    cursor: pointer;
  }

  
  .sm-nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .hamburger-icon.open .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }
  
  .hamburger-icon.open .line:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-icon.open .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }
}


  
  .hero-section {
    /* Hero section styles */
    background-color: #F0F0F0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23F0F0F0'/%3E%3Cstop offset='1' stop-color='%23F0F0F0'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='319' height='265.8' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
height: 80vh
  }

  .hero-content {
    width: 92%
  }

  
  h1 {
    /* Hero section styles */
font-weight: 800;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom: 100px;  

  }

  .hero-content h2 {
    /* Hero section styles */
margin-top: 1rem;

  }

  .hero-cta {
    margin-top: 100px
  }

  .hero-cta a {
    display: inline-block;
    padding: 10px 20px;
    width: 25%;
    background-color:  #facf0f;
    color: #333;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    text-transform: uppercase;
  }

  .hero-cta a:hover {
    transform: translateY(-5px);
  }

  
  .about-section, .proj-section {
    /* Hero section styles */
    background-color: #F0F0F0;
    display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
min-height: 80vh
  }

.about-content, .proj_content {
  justify-content: center;
  text-align: center;
  
}

  .about-columns, .proj-columns {
display: flex;
  }

  .about-col1,
.about-col2 {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 5%;
  padding-right: 5%;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  width: 40px;
  height: 40px;
  color: #333;
}

.about-col2 h2 {
  padding-top:10px;
}

.skills {
  display:flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;

}


.skills_skill {
  background-color: #333;
  color:#ffffff;
  display:flex;
  padding:5px;
  margin:5px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.skills_skill:hover {
  transform: translateY(-5px);
  background-color:  #facf0f;
}

.work-exp {
  /* Hero section styles */
  background-color: #FFF;
justify-content: center;
text-align: center;
}

.download-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #facf0f;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor:pointer;
}

.download-icon,
.pdf-icon {
  margin-right: 5px;
}

.project-img {
  max-width:100%;
}

.proj-card {
  padding-bottom: 20px;
}

.proj-outer {
  display:flex;
}

.proj-lhs,
.proj-rhs {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 5%;
  padding-right: 5%;
}

.explore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #facf0f;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  animation: pulsate-background 2s infinite;
}

/* Example pulsating background animation */
@keyframes pulsate-background {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #facf0f;
  }
  100% {
    background-color: transparent;
  }
}

.extra-outer {
  width:60%
}

.extra-img {
  max-width:100%;
  max-height: 50vh
}

.carousel-container {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
  align-items: center;
}

.carousel-slide {
  flex: 0 0 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.carousel-button--prev {
  left: 10%;
}

.carousel-button--next {
  right: 10%;
}

.footer {
  background-color: black;
  padding: 20px;
  justify-content: flex-start;
  min-height:0%
}

.footer h3,
.footer p,
.footer-bottom p {
  color: white;
}

.footer p {
  font-weight: 100;
}

.copyright {
  font-size: 10px;
  padding-top: 10px;
  margin-bottom: 0;
}

.footer-left {
  flex: 1;
}

.footer-right {
  flex: 1;
  text-align: right;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer .social-icon {
  color:white
}